@font-face {

  font-family: Roboto;
  src: url('../_fonts/Roboto-Regular.woff');

  font-family: OpenSans;
  src: url('../_fonts/OpenSans-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Droid Sans, Century Gothic, OpenSans, Roboto, Sans-serif;
}

body{
  background: rgb(26, 26, 26) url('https://github.com/KugiHaito/kugihaito.github.io/raw/master/assets/img/background.jpg') no-repeat scroll top;
}

/**
 * Tamanho dos títulos
 */
h1{font-size: 2.5em;}
h2{font-size: 2.2em;}
h3{font-size: 2em;}
h4{font-size: 1.5em;}
h5{font-size: 1.3em;}
h6{font-size: 1em;}
span{font-size: .9em;}
a{text-decoration: none;}
a:hover{text-decoration: underline;}

/*
* Grid, Row and Container
*/
.container  {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

@media (min-width: 1170px) {
  .container {
    max-width: 1170px;
    padding: 0 10em;
  }
}

/* linha */
.row {
  margin-left: -5px;
  margin-right: -5px;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}

/* colunas */
.col {
  display: inline-block;
  vertical-align: top;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  margin-right: -4px;
  *zoom: 1;
  *display: inline;
}

/* duas colonas */
@media (min-width: 480px) {
  .col-2 {
    width: 50%;
  }
}

/* tres colunas */
@media (min-width: 728px) {
  .col-3 {
    width: 33.3333%;
  }
}

.blank {
  padding: 13.5em;
}

.box {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin: 20px 10px;
  padding: 20px;
  background-clip: border-box;
  background: transparent;
}

.profile{
  width: 25%;
}
.desc-profile{
  width: 75%;
}

.box .overlay {
  padding: 20px 5px;
  position: absolute;
  top: 0;
}

.box .lead{
  font-size: 1em;
}

.b-light{
  background-color: #fff;
  color: #222;
}

.b-dark{
  background-color: #444;
  color: #eee;
}

ul{
  list-style: none;
  padding: 10px;
}

ul li{
  padding: 20px 3em;
}

.material-icons {
  position: absolute;
  margin: 0 -30px;
}

.img-rounded{
  border-radius: .3rem;
}

.img-fluid{
  max-width: 100%;
}

.lead{
  font-size: 1.25rem;
  font-weight: 300;
  margin: 10px 0;
}
.text-muted{
  color: gray;
  margin: 5px;
}
.text-white{
  color: white;
  margin: 5px;
}
.text-center{
  text-align: center;
}
.text-hide{
  color: transparent;
}

.bottom {
  position: relative;
  bottom: 0;
}

@media (max-width:450px) {
  .blank{
    padding: 3em;
  }
  body{
    background-size: contain;
    background-position: center top;
  }
  #header{
    width: 90%;
    margin: 0 auto;
  }
  .details{
    width: 96%;
  }
  footer.box{
    margin-top: 0px;
    padding-top: 0px;
  }
  ul li{
    padding: 20px 1.5em;
  }
  .profile{
    width: 50%;
    display: block;
  }
  .desc-profile {
    width: 100%;
  }
  .box{
    margin: 20px 5px;
  }
  .box .row .col .box {
    margin: 10px -5px;
  }
}
